<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assas/css/bootstrap.css">
    <link rel="stylesheet" href="../assas/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assas/css/include.css">
    <script src="https://kit.fontawesome.com/9fe8afb7ed.js" crossorigin="anonymous"></script>
    <title>project</title>
</head>

<body>
    <!-- **************************  row 1st ************************ -->
    <div class="container-fluid">
        <div class=" row  px-5 ">
            <div class="col-lg-6 col-sm-12 col-md-4 px-6 align-items-center am1 ">

                <h2 class="am2">Give Thanks In Style With <br> Maize Hoodies</h2>
                <p class="mt-4">Discover Cozy and Fashionable Hoodies for YourThanksgiving Celebrations</p>
                <button class="am3 mt-5">Shop Now & Save 20%</button>

            </div>
            <div class="col-lg-6 col-sm-12 col-md-6  ">

                <div style="justify-content: center; align-items: center;">
                    <img class="img" src="../assas/image/woman_1.webp" alt="">
                </div>

            </div>

        </div>

        <!-- ***********************  row 2nd ************************** -->
        <div class="row row-cols-1 row-cols-md-3  g-5 mt-5  pt-5 mb-5 pb-5">
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="card  rounded-5">
                    <img src="../assas/image/woman-2.webp" class="img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <h2 class="text-center am4 rounded-5 rounded-top-0">autumn selection</h2>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="card rounded-5 rounded-5">
                    <img src="../assas/image/woman-3.webp" class="img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <h2 class="text-center am4 rounded-5 rounded-top-0">classic assortment</h2>
                </div>

            </div>
            <div class=" col-sm-12 col-lg-4 col-md-6">
                <div class="card rounded-5 rounded-5">
                    <img src="../assas/image/man-1.webp" class="img-fluid rounded-5 rounded-bottom-0" alt="...">
                    <h2 class="text-center am4 rounded-5 rounded-top-0">zip-up hoodie</h2>
                </div>

            </div>

        </div>
        <!-- ************************  row 3nd ************************* -->
        <div class="row justify-content-center g-5 px-5  pb-5  am5">

            <h2 class="am10">Trending Now</h2>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="card  rounded-5 " style="border-color:white;">
                    <img src="../assas/image/woman-4.webp" class="card-img-top " alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Autumn Breeze Hoodie</h5>
                        <p class="card-text">$49.99</p>
                        <button class="am6" style="background-color: #540B0C"></button>
                        <button class="am6" style="background-color: #228B22"></button>
                        <button class="am6" style="background-color: #191970"></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button> <br><br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card rounded-5" style="border-color:white;">
                    <img src="../assas/image/man-2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Cozy Comfort Hoodie</h5>
                        <p class="card-text">$54.99</p>
                        <button class="am6" style="background-color: #191970"></button>
                        <button class="am6" style="background-color: #D58421"></button>
                        <button class="am6" style="background-color: #5E2F26"></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button> <br><br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card rounded-5" style="border-color:white;">
                    <img src="../assas/image/woman-5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Festive Fall Hoodie</h5>
                        <p class="card-text">$59.99</p>
                        <button class="am6" style="background-color: #DA9100"></button>
                        <button class="am6" style="background-color: #D4844B"></button>
                        <button class="am6" style="background-color: #D17B41"></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button> <br> <br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="card rounded-5" style="border-color:white;">
                    <img src="../assas/image/man-3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Adventure Grey Hoodie</h5>
                        <p class="card-text">$65.99</p>
                        <button class="am6" style="background-color: #353935"></button>
                        <button class="am6" style="background-color: #708090"></button>
                        <button class="am6" style="background-color: #000080 "></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button>
                        <br> <br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- ************************* row 4rd ******************************** -->

        <div class="ROW_3rd pt-5 px-5 pb-5">
            <h2 class="am11">Cozy & Comfortable This <br> Thanksgiving</h2> <br>
            <p style="font-size: 20px;">This Thanksgiving, express gratitude in style with our premium hoodies. Embrace
                the warmth and <br> joy of the holiday while staying comfortable and fashionable. Shop now to elevate
                your <br> Thanksgiving celebration with Maize.</p>
            <br> <br>

            <button class="am3  mx-5 px-5 mb-5 ">SHOP NOW</button>
        </div> <br><br>

        <!-- ************************ row 5th ************************************* -->
        <div class="row justify-content-center g-5 px-5   am5">

            <h2 class="am10">Top Picks For Thanksgiving</h2>

            <p class="am12"> <span style="color: #f74d0f;">Gift for him</span> &nbsp;&nbsp;&nbsp; Gift for her
                <hr style="width: 100px; border-width: 3px; margin-top: -5px; margin-right: 120px; color:#eb4508 ; ">
            </p>


            <div class="col-lg-3 col-md-6 col-sm-12  ">
                <div class="card  rounded-5 " style="border-color:white;">
                    <img src="../assas/image/man-4.webp" class="card-img-top " alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Grateful Harvest Hoodie</h5>
                        <p class="card-text">$59.99</p>
                        <button class="am6" style="background-color: #BAB86C"></button>
                        <button class="am6" style="background-color: #36454F"></button>
                        <button class="am6" style="background-color: #814D3F"></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button> <br><br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card rounded-5" style="border-color:white;">
                    <img src="../assas/image/man-5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Autumn Maize Hoodie</h5>
                        <p class="card-text">$74.99</p>
                        <button class="am6" style="background-color: #228B22"></button>
                        <button class="am6" style="background-color: #708090"></button>
                        <button class="am6" style="background-color: #5E2F26"></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button> <br><br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card rounded-5" style="border-color:white;">
                    <img src="../assas/image/man-6.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Cozy Cabin Hoodie</h5>
                        <p class="card-text">$49.99</p>
                        <button class="am6" style="background-color: #540B0C"></button>
                        <button class="am6" style="background-color: #191970"></button>
                        <button class="am6" style="background-color: #5E2F26"></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button> <br> <br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="card rounded-5" style="border-color:white;">
                    <img src="../assas/image/man-7.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title am9">Fireside Comfort Hoodie</h5>
                        <p class="card-text">$65.99</p>
                        <button class="am6" style="background-color: #D58421"></button>
                        <button class="am6" style="background-color: #000080"></button>
                        <button class="am6" style="background-color: #36454F "></button><br> <br>
                        <button class="am7">S</button>
                        <button class="am8">M</button>
                        <button class="am8">L</button>
                        <button class="am8">XL</button>
                        <br> <br>
                        <button class="am3  mx-5 px-5 ">ADD TO CARD</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- ************************ row 6th ************************************ -->

        <div class=" am14 px-5 mb-5 mx-5">
            <p class="am13">Thanksgiving Season Specials</p>
            <hr>

            <div class=" row row-cols-1 row-cols-md-3 g-5 " style="display: flex;">
                <div>
                    <button
                        style="height: 70px; width: 75px;  font-size: 40px; border-color:white; border-radius: 50px;">
                        <i class="fa-solid fa-tags" style="color: #E56639;  width: 30px; height: 30px;;"> </i></button>
                    <br> <br><br>
                    <h5 class="am15">Exclusive Discounts</h5> <br>
                    <p class="am16"> Enjoy extra savings during the Thanksgiving season with our exclusive discount
                        code: THANKS20
                    </p>
                </div>
                <div>
                    <button
                        style="height: 74px; width: 80px;  font-size: 40px;border-color:white; border-radius: 50px;"> <i
                            class="fa-solid  fa-truck-fast" style="color: #E56639; width: 30px; height: 30px;;">
                        </i></button> <br> <br><br>
                    <h5 class="am15">Free Shipping</h5> <br>
                    <p class="am16">We're spreading the holiday cheer by offering free shipping on all orders placed
                        during the
                        Thanksgiving season.</p>
                </div>
                <div>
                    <button
                        style="height: 70px; width: 80px;  font-size: 40px; border-color:white; border-radius: 50px;">
                        <i class="fa-solid fa-gift" style="color: #E56639; width: 30px; height: 30px;;"> </i></button>
                    <br> <br><br>

                    <h5 class="am15">Free Gift Wrapping</h5> <br>
                    <p class="am16">Free gift wrapping during Thanksgiving. Make your hoodie purchases extra special
                        with beautifully
                        wrapped packages.</p>
                </div>
            </div>
            <br><br><br><br> <br> <button class="am3  mx-5 px-5 mb-5 ">shop now & save!</button>
        </div> <br><br>
        <!-- ************************* row 7th ******************************* -->

        <div class="row rowsix mt-5 pt-5 pb-5">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center pt-5 mt-5">
                <h1 class="am11 mt-5 mb-5 pb-5">What Our Customers Say</h1>
            </div>

            <div class="container px-5">
                <div class="row px-lg-5 justify-content-center g-5">
                    <div class="col-sm-12 col-lg-4 col-md-6 rounded-5">
                        <div class="card rounded-5" style="border-color:white;">
                            <img src="../assas/image/woman-2.webp" class="img-fluid rounded-5 rounded-bottom-0" alt="">
                            <br>
                            <div class="card-body">

                                <p class="card-text am16">I absolutely love my Maize hoodie! The quality is outstanding,
                                    and it
                                    keeps me warm and cozy during the colder months. Highly recommend!</p>
                                <div class="row">
                                    <div class="col-lg-7 col-md-6 col-sm-6">
                                        <h3>Sarah Davis</h3>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-6">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> <br>
                    <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="card rounded-5" style="border-color:white;">
                            <img src="../assas/image/woman-3.webp" class="img-fluid rounded-5 rounded-bottom-0"
                                alt=""><br>
                            <div class="card-body">
                                <p class="card-text am16">Maize hoodies are my go-to for both style and comfort. The
                                    designs are trendy, and the fit is perfect.I get compliments every time I wear one!
                                </p>

                                <div class="row">
                                    <div class="col-lg-7 col-md-6 col-sm-6 ">
                                        <h3>Emily Johnson</h3>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-6">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-md-7">
                        <div class="card rounded-5" style="border-color:white;">
                            <img src="../assas/image/man-1.webp" class="img-fluid rounded-5 rounded-bottom-0" alt="">
                            <br>
                            <div class="card-body">

                                <p class="card-text am16"> I absolutely love my Maize hoodie! The quality is
                                    outstanding, and it keeps me warm and cozy during the colder months. Highly
                                    recommend!</p>
                                <div class="row">
                                    <div class=" col-lg-7 col-md-6 col-sm-6">
                                        <h3>John Smith</h3>
                                    </div>
                                    <div class=" col-lg-5 col-md-6 col-sm-6">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- **********************  row 8th ******************************** -->
        <div class="container">
            <div class="row ">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center mt-5">
                    <h1><b>Customer Styling Inspiration</b></h1> <br>
                    <h6>We created this section withVIBE Shoppable Instagram Feedapp</h6>
                </div>
                <div class="row pt-5 g-0">
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/woman-6-hover.webp" class="img-fluid " alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/woman-7-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/man-8-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/woman-8-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/woman-9-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/man-9-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/man-10-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 HoverForImg">
                        <img src="../assas/image/man and woman-hover.webp" class="img-fluid" alt="">
                    </div>
                    <div class="text-center mt-5">
                        <button class="am3 mt-5 mb-5 mx-5">see more</button>

                    </div>
                </div>
            </div>
        </div>
        <!--************************* row 9th *********************************-->

        <div class="row roweight ">
            <div class="col-sm-12 col-lg-12 col-md-12 text-center text-white ">
                <h1 class="am11">Subscribe For Exclusive Updates</h1> <br><br>
                <p class="am16">Get early access, special offers, and the latest releases. Join now and elevate your
                    hoodie game!
                </p>
                <input type="email" placeholder="Enter Your Email" class="w-50 border-0 p-3 rounded-4 mt-5 pt-4 pb-4">
                &nbsp;
                <button type="button" class="btn btn-outline-warning  p-3  rounded-4 pl-1">SUBCREBE NOW</button>
            </div>
            <div class="row pb-5 justify-content-center text-center mt-3">
                <div class="col-6 fs-2">


                    <i class="fa-brands fa-facebook  fa-beat-fade fs-2"
                        style="color: #ffffff; padding: 10px; background-color: #3B3026; border-radius: 50%;"></i>
                   
                    <i class="fa-brands fa-instagram  fa-beat-fade fs-2"
                        style="color: #ffffff; padding: 10px; background-color: #3B3026; border-radius: 50%;"></i>
                   
                    <i class="fa-brands fa-twitter  fa-beat-fade fs-2"
                        style="color: #ffffff; padding: 10px; background-color: #3B3026; border-radius: 50%;"></i>
                       
                </div>

            </div>
        </div>

    </div>

</body>

</html>